.main {
  margin: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.create-post-link {
  padding: 10px;
  border-radius: 35px;
  font-size: 0.6;
  background-color: rgb(19, 16, 16);
  color: white;
}

.create-post-link:hover {
  border: 1px solid red;
  color: rgb(246, 236, 222);
}

.home-page-description {
  margin: 20px auto;
  padding: 40px;
}
