.footer {
  height: 90px;
  margin-top: 1.875rem;
  padding: 1rem 3rem;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid red;
}

.github-link {
  color: inherit;
}

@media (max-width: 550px) {
  .footer {
    padding: 1rem 2.4rem;
  }

  .footer .made-by {
    font-size: 0.7rem;
  }
}
